.grid{
    display:grid;
    grid-template-columns: 25% 70%;
}

.left{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.blogImage{
    align-self: center;
    width: 18rem;
    height: 18rem;
}

.right{
}

.blogTitle{
    color: var(--red)
}

.blogText{
    color: var(--foreground);
    font-size: 1.5rem;
}