.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: var(--background) !important;
    color: var(--red) !important;
    font-size: 1.5rem;
}