.scrollingText {
    overflow: hidden;
    width: 100%;
    height: 4rem;
    background-color: var(--bg);
    --bg: #92121234;
    position: relative;
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scrollingContent {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll 8s linear infinite;
    height: 100%;
}

.scrollingContent span {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 2rem;
    color: var(--foreground);
    padding-right: 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .scrollingText {
        height: 3rem;
    }
    .scrollingContent span {
        font-size: 1.5rem; 
    }
}
